#column-padding{
    padding: 140px 140px 140px 140px;
    
}

.img1{
    background: url('../../../assets/Dream_Background (1) 1.png');
    background-size: cover;
    background-attachment: fixed;
}

.img2{
    background: url('../../../assets/Dream_Background 1.png');
    background-size: cover;
    background-attachment: fixed;
}

.img3{
    background: url('../../../assets/Dream_Background (1) 2.png');
    background-size: cover;
    background-attachment: fixed;
}

.brief-heading{
    color: #1576DE;
}

.brief-p{
    color: black;
}

@media screen and (max-width: 700px){
    div #column-padding{
        padding: 60px 30px 60px 30px;
    }
    
}