    .navbg {
        background-color: black;
        color: white;
    }
    
    .navbar {
        color: #fff;
    }
    
    a.nav-link {
        color: #fff;
        margin-right: 50px;
    }
    
    a.nav-link:hover {
        color: #1576DE;
    }
    
    .navbar-toggler-icon {
        background-color: #fff;
        border-radius: 4px;
        padding: 5px;
    }
    
    .dropdown-toggle {
        color: #fff;
    }
    
    .center-links {
        margin-left: -50px;
    }

    .navbar-collapse{
        margin-left: 20%;
    }
    
    .account-icon {
        right: 20px;
        top: 25px;
        margin-left: 220px;
    }

    @media screen and (max-width: 990px) {
        div .center-links {
            margin-left: 0px;
        }

        div .center-links li{
            margin-left: 0px;
            margin-top: 10px;
        }

        div .account-icon {
            right: 20px;
            top: 25px;
            margin-left: 0px;
        }
    
    }